[submodule "create_autonomy"]
	path = create_autonomy
	url = https://github.com/AutonomyLab/create_autonomy.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "obstacle_detector"]
	path = obstacle_detector
	url = https://github.com/tysik/obstacle_detector.git
