<launch>
    <include file="$(find create_bringup)/launch/create_2.launch"/>
    <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch">
    </include> 
    <node name="urg_node" pkg="urg_node" type="urg_node" />
    <node name="tf_base_laser" pkg="tf" type="static_transform_publisher" args=".03 -.05 .13 0 0 0 base_link laser 100"/>
    <node name="tf_base_camera" pkg="tf" type="static_transform_publisher" args="0 0 .20 0 -.12 0 base_link t265_odom_frame 100"/>
    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>